@{
    ViewBag.Title = "jQuery Examples";
}

@(
        Html.Kendo().PanelBar().Name("firstTest").Items(items =>
        {
        items.Add().Text("HTML").Content(Html.Encode(@"<!doctype html>
<html lang="" en"">
<head>
    <meta charset="" utf-8"">
    <title>all demo</title>
    <script src="" https//code.jquery.com/jquery-1.10.2.js""></script>
</head>
<body>
    <div>DIV</div>
    <span>SPAN</span>
    <p>P <button>Button</button></p>

    <script>
var elementCount = $( ""*"" ).css( ""border"", ""3px solid red"" ).length;
$( ""body"" ).prepend( ""<h3>"" + elementCount + "" elements found</h3>"" );
    </script>
</body>
</html>"));
        }).Deferred()
)
