<h1>Whelcome to the world of rich and simple jQuery examples, where you can learn the most popular javascript library these days!</h1>
<meta name="description" content="jQuery Examples. Learn jQuery by Examples, Tutorials, Samples or short Demos. Experiment and visualize your code.">
@{
    ViewBag.Title = "jQuery Examples";
}

@(
        Html.Kendo().PanelBar().Name("firstTest").Items(items =>
        {
        items.Add().Expanded(true).Text("HTML").Content("<textarea id='code' name='code' class='code' style='height: 1px;width: 1px;' > " + 
            Html.Encode(@"<!doctype html>
<html lang="" en"">
<head>
    <meta charset="" utf-8"">
    <title>all demo</title>
    <script src="" https//code.jquery.com/jquery-1.10.2.js""></script>
</head>
<body>
    <div>DIV</div>
    <span>SPAN</span>
    <p>P <button>Button</button></p>

    <script>
var elementCount = $( ""*"" ).css( ""border"", ""3px solid red"" ).length;
$( ""body"" ).prepend( ""<h3>"" + elementCount + "" elements found</h3>"" );
    </script>
</body>
</html>") + "</textarea>");
        }).Deferred()
)

@(
        Html.Kendo().PanelBar().Name("secondTest").Items(items =>
        {
            items.Add().Expanded(true).Text("HTML").Content("<textarea id='code' name='code' class='code' style='height: 1px;width: 1px;' > " +
                Html.Encode(@"<!doctype html>
<html lang="" en"">
<head>
    <meta charset="" utf-8"">
    <title>all demo</title>
    <script src="" https//code.jquery.com/jquery-1.10.2.js""></script>
</head>
<body>
    <div>DIV</div>
    <span>SPAN</span>
    <p>P <button>Button</button></p>

    <script>
var elementCount = $( ""*"" ).css( ""border"", ""3px solid red"" ).length;
$( ""body"" ).prepend( ""<h3>"" + elementCount + "" elements found</h3>"" );
    </script>
</body>
</html>") + "</textarea>");
        }).Deferred()
)

@*@section scripts
{
<script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            styleActiveLine: false,
            matchBrackets: true,
            theme: "neat"
        })        
</script>
}*@